@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(243, 243, 243);
  font-family: 'Radiance';
}

h1 {
  font-size: 40px;
  font-family: 'Radiance';
  font-weight: bold;
  color: #1F2937;
}

h2 {
  font-size: 20px;
  font-family: 'Radiance';
  font-weight: bold;
  color: #1F2937;
}

p {
  font-family: 'Radiance';
  color: #1F2937;
}

Typography {
  font-family: 'Radiance';
  color: #1F2937;
}

label {
  font-family: 'Radiance';
}


Button, Input {
  font-family: 'Radiance';
}

ul {
  font-family: 'Radiance';
  font-size: 20px;
}

.footer {
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: 'Radiance';
  margin-bottom: 0px;
}

.header {
  color: #fff;
  padding: 10px;
  font-family: 'Radiance';
  font-size: larger;
}

.content {
  padding: 30px;
  margin-left: 10px;
  width: 100%;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1F2937;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  font-family: 'Radiance';
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: white;
  color: #1F2937;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  width: 50px;
}

.openbtn:hover {
  background-color: white;
  color: #1F2937;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.TableHead {
  background-color: #1F2937;
  color: white;
}