@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(243, 243, 243);
  
}

h1 {
  font-size: 40px;
  font-family: 'Radiance';
  font-weight: bold;
  color: #333;
}

p {
  font-family: 'Radiance';
  color: #333;
}

Typography {
  font-family: 'Radiance';
  color: #333;
}

label {
  font-family: 'Radiance';
}


Button, Input {
  font-family: 'Radiance';
}

ul {
  font-family: 'Radiance';
  font-size: 20px;
}

.footer {
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: 'Radiance';
}

.header {
  color: #fff;
  padding: 10px;
  font-family: 'Radiance';
  font-size: larger;
}

.content {
  padding: 30px;
  margin-left: 10px;
  width: 100%;
}

.navbar-links {
  background-color: gray;
}